<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TM | finanse</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg+xml">
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!-- JS Biblioteki -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light"> <!-- Dodano fixed-top -->
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">🐻🍑 tm.finanse</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'main.index' %}active{% endif %}" href="{{ url_for('main.index') }}" title="Bilans miesięczny">
                            <i class="bi bi-calendar-month"></i>
                            <span class="d-lg-none ml-2">m.bilans</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'main.yearly_summary' %}active{% endif %}" href="{{ url_for('main.yearly_summary') }}" title="Podsumowanie roku">
                            <i class="bi bi-calendar-check"></i>
                            <span class="d-lg-none ml-2">r.bilans</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint.startswith('main.portfolio_index') %}active{% endif %}" href="{{ url_for('main.portfolio_index') }}" title="Portfel">
                            <i class="bi bi-briefcase"></i>
                            <span class="d-lg-none ml-2">portfel</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'main.add_transaction' %}active{% endif %}" href="{{ url_for('main.add_transaction') }}" title="Dodaj transakcję">
                            <i class="bi bi-plus-circle"></i>
                            <span class="d-lg-none ml-2">transakcje</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="manageCategoriesLink" 
                           href="{{ url_for('main.manage_categories') }}" 
                           data-toggle="tooltip" data-placement="bottom" title="Zarządzaj Kategoriami">
                            <i class="bi bi-gear-fill"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Dodano pusty div jako "spacer" pod fixed-top navbar -->
    <div style="height: 80px;"></div>

    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <footer class="text-center mt-5 mb-3"><p class="text-muted"><small>tm.finanse</small></p></footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script> $(function () { $('[data-toggle="tooltip"]').tooltip() }) </script>
    {% block scripts %}{% endblock %}
</body>
</html>